.dialogDiv{
    background: white !important;
}

.offset{
    margin-left: 20px;
}

.mat-form-field {
    width: 85%;
    margin-top: 10px;
  }

  .addOrder{
    margin-left: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
  }