<h1 mat-dialog-title>Create New Order</h1>
<div>
      <form [formGroup]="orderForm" autocomplete="off">
        <div class="offset">
            <mat-form-field appearance="fill">
                <mat-label>Enter Product ID</mat-label>
                <input matInput placeholder="Product ID" formControlName="productId" type="number">
              </mat-form-field>
    
              <mat-form-field appearance="fill" class="offset">
                <mat-label>Select Currency</mat-label>
                <mat-select formControlName="unit">
                  <mat-option value="usd">USD</mat-option>
                  <mat-option value="euro">EUR</mat-option>
                  <mat-option value="ngn">NGN</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="offset">
                <mat-label>Enter Amount</mat-label>
                <input matInput placeholder="Amount" formControlName="amount" type="number">
              </mat-form-field>
        </div>
        <div>    
            <mat-form-field appearance="fill" class="offset mat-form-field">
                <mat-label>Enter Shipping Address</mat-label>
                <textarea matInput placeholder="Shipping Address" formControlName="shippingAddress"></textarea>
              </mat-form-field>
        </div>

        <div class="main-button-div offset-md-1">
          <button (click)="onCloseDialog()" mat-raised-button style="color: gray;">Close</button>
          <button (click)="onCloseDialog()" mat-raised-button style="color: blue;">Save</button>
        </div>
      </form>
    </div>